
/* Header */

.page-title {
    text-align: center;
    font-weight: bold;
}

.header-image {
    width: 100%;
    height: 200px;
}

/* Select drop down menu */
select {
    margin-left:20px;
    border-color: #6ECEB2; 
}

.year-drop-down {
    padding-bottom: 20px;
}

 /* Scrolling Reset button */
.reset-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 70px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #DA291C ;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }
  
  .reset-button:hover {
    background-color:#7C878E;
  }



/* Charts */

.card-title {
   font-weight: bold;
}


.footer {
    padding-top: 10px;
    text-align: center;
    font-size: 0.9em;
    font-weight: 700;
}


.fab {
    color: black;
    font-size: 30px;
  }

 /* Media Queries */

 @media (max-width: 552px) {
    .chart-container {
       overflow: hidden;
       overflow-x: scroll;
    }
 }
  
 