
/* Header */

.page-title {
    text-align: center;
}

.header-image {
    width: 100%;
    height: 200px;
}


a {
    padding-left: 40px;
    margin-left: 20px;
    color: #000000;
}

.chart-title {
   font-weight: bold; 

}