
/* Header */

.page-title {
    text-align: center;
}

.header-image {
    width: 100%;
    height: 200px;
}

/* Select menus */
/* .dc-select-menu {
    text-align: center;
} */

a {
    padding-left: 40px;
    margin-left: 20px;
    color: #000000;
}

.chart-title {
    

}